@import "../../global.scss";
.courses {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    color: white;
    position: absolute;
    top: 20px;
  }

  .arrow {
    font-size: 120px;
    position: absolute;
    cursor: pointer;
    font-weight: 700;
    @include mobile {
      font-size: 60px;
    }
    color: white;
    &.leftAr {
      left: 100px;
      transform: rotateY("180");

      @include mobile {
        top: 70px;
        left: calc(90vw / 2);
      }
    }
    &.rightAr {
      right: 100px;
      @include mobile {
        bottom: 70px;
        right: calc(90vw / 2);
      }
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;

    @include mobile {
      height: 250px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          background-color: lightblue;
          flex: 4.5;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
              font-weight: 600;
              margin-bottom: 20px;
            }

            a {
              text-decoration: none;
              font-weight: 500;
            }
          }
        }

        .right {
          flex: 7.5;
          height: 100%;

          .rightContainer {
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
