@import "../../global.scss";

.intro {
  background-color: transparent;
  display: flex;
  @include mobile {
    flex-direction: column;
  }

  .wave {
    width: 100%;
    height: 100px;
    background-image: url("../../../public/assets/wave/wave.png");
    background-position: bottom;
    background-size: 1000px 100px;
    position: absolute;
    bottom: 0;
    left: 0;

    &.w1 {
      animation: animate 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
      @include mobile {
        opacity: 0;
      }
    }
    &.w2 {
      animation: animate2 5s linear infinite;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 10px;
      z-index: 999;
      @include mobile {
        opacity: 0;
      }
    }
    &.w3 {
      animation: animate 30s linear infinite;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 20px;
      z-index: 998;
      @include mobile {
        opacity: 0;
      }
    }
    &.w4 {
      animation: animate2 5s linear infinite;
      opacity: 0.7;
      animation-delay: -1s;
      bottom: 25px;
      z-index: 997;
      @include mobile {
        opacity: 0;
      }
    }

    @keyframes animate {
      0% {
        background-position-x: 0;
      }

      100% {
        background-position-x: 1000px;
      }
    }
    @keyframes animate2 {
      0% {
        background-position-x: 0;
      }

      100% {
        background-position-x: -1000px;
      }
    }
  }

  .left {
    margin-bottom: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    @include mobile {
      margin-top: 40px;
      margin-bottom: 5px;
      overflow-y: hidden;
    }
    .imgContainer {
      width: 400px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile {
        height: 300px;
        width: 300px;
      }
      img {
        height: 90%;
        width: 85%;
        border-radius: 20%;

        @include mobile {
          border-radius: 0;
        }
      }
    }
  }

  .right {
    margin-bottom: 80px;
    flex: 1;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      font-size: 60px;
      margin: 10px 0;

      @include mobile {
        font-size: 30px;
        margin: 5px 0;
      }
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      display: flex;
      font-size: 30px;
      span {
        font-size: inherit;
        color: white;
        margin-left: 15px;
      }
    }

    a {
      position: absolute;
      left: 30%;
      bottom: 10px;
      .downArrow {
        color: black;
        font-size: 80px;

        @include mobile {
          opacity: 0;
        }
      }
    }
  }
}
